/* @media screen and (min-width=800px) {
    body{
     font-size: 1rem;
    } 
    h1,h2,h3,h4{
     line-height: 1;
    }
    h2{
     font-size: 2.5rem;
    }
    h3{
     font-size: 1.75rem;
    }
    h4{
     font-size:1rem;
    }
 } */
 @media screen and (min-width:765px) {
    .hero{
        background: linear-gradient(90deg, rgba(0,96,116,0.5) 20%, rgba(0,2,82,0.5)),url("../images/blue.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero-banner{
        padding:0 ;
    }
    .hero p{
        max-width: 45rem;
    }
 }
 @media screen and (min-width:978px) {
    .section-content{
        display: flex;
        justify-content: space-between;
    }
    .article-image{
        margin-bottom: 2rem;
        /* position: relative; */
    }
    .article-image,.article-text{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 2rem);
        align-self: center;
    }
    .article-image{
        position: relative;
    }
    .article-image::before{
        content: "";
        border: 0.5rem solid var(--color-primary4);
        width: 100%;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        top: -1rem;
        right: -1rem;
        z-index: -1;
    }

 }
 @media screen and (min-width:580px) {
    .section-article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .services{
        flex:0 0 calc(50% - 3rem);
    }
 }
 @media screen and (min-width:990px){
    .services{
        flex: 0 0 calc(33.33333% - 3rem);
    }
 }
 @media screen and (min-width:1165px){
    .services{
        display: flex;
        justify-content: right;
    }
    .service-content{
        text-align: right;
        padding:0 1.2rem;
    }
    .service-icon{
        align-self: start;
    }
 }
 @media screen and (min-width:770px){
    .article-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .article-card{
        flex:0 0 calc(50% - 2rem)
    }
 }
 @media screen and (min-width:980px){
    .article-content{
        justify-content: space-between;
    }
    .article-card{
        flex: 0 0 calc(33.33333% - 1rem);
    }
 }
 @media screen and (min-width:1200px){
    .article-card{
        flex: 0 0 calc(25% - 1.5rem);
    }
 }
 @media screen and (min-width:990px){
    .contact-content{
        display: flex;
        /* justify-content: start; */
        gap: 2rem;
    }
    .article-form{
        flex: 1 1 auto;
    }
 }
 @media screen and (min-width:750px){
    .gallery-content{
        display: flex;
        flex-wrap: wrap;
    }
    .article-gallery{
        flex: 0 0 50%;
    }
 }
 @media screen and (min-width:540px){
    .img-gallery{
        height: 100%;
    }
 }
 @media screen and (min-width:1300px){
    .article-gallery{
        flex: 0 0 25%;
    }
 }
 @media screen and (min-width:990px){
    .navbar{
        padding: 1rem 1.5rem;
    }
    .nav-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-title{
        padding: 0 0;
    }
    .nav-link{
        padding: 0 0;
        margin-right: 1.2rem;
    }
    .nav-link:hover{
        background: transparent;
        color: var(--color-primary4);
        padding-right: 0;
    }
    .nav-btn{
        display: none;
    }
    .nav-links{
        height: auto;
        overflow:visible;
        display: flex;
    }
    .nav-icons{
        display: block;
        display: flex;
    }
    .nav-icon{
        font-size: 1.5rem;
        color: var(--color-primary3);
        margin-right: 1.2rem;
        cursor: pointer;
        transition: var(--transition);
    }
    .nav-icon:hover{
        color: var(--color-primary4);
    }
}   